<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
</head>
<body>
<div id="app">
    <div v-if="isStartGame">
        <label  for="player_name">Enter your name</label><br>
        <input v-model="player_name">
        <button @click="createGame">Start battle</button>
    </div>
    <div v-if="!isStartGame && !isGameCreated && !isResults">
        Waiting oponents ...
    </div>
    <div v-if="newRound">
        The game will continue in ...
        <timer :start="waitNewGameStart"
               :end="end"
               :fn="continueGame.bind(this)"
        ></timer>
    </div>
    <div v-if="isGameCreated">
        <h1>The game is started</h1>
        <timer :start="start"
               :end="end"
               :fn="sendSymbol.bind(this, 'inactive')"
        ></timer>
        <button @click="sendSymbol('rock')">Камень</button>
        <button @click="sendSymbol('scissors')">Ножницы</button>
        <button @click="sendSymbol('paper')">Бумага</button>
        <button @click="exitGame">Закончить игру</button>
    </div>
    <div v-if="isGameCreated || isResults">
        <h1>Player stats</h1>
        <h2>Всего игр:</h2>
        <div >[[gamesCounter]]</div>
    </div>
    <div v-if="isResults">
        Results:
        <p>[[results.your_results]]</p>
        Your choice:
        <p>[[results.your_choice]]</p>
        Opponent choices:
        <p v-for="choice  in results.opponent_choices">[[choice]] </p>
        <button @click="createGame">PLAY AGAIN</button>
    </div>
</div>
<script src="static/index.js"></script>
</body>
</html>